$mainFontRegular: "JosefinSansNormal";
$mainFontBold: "JosefinSansBold";
$mainFontLight: "JosefinSansLight";
$secondaryFontNormal: "AleoNormal";
$white: #fff;
$blue: #5474fd;
$grey: #333333;
$cardGrey: rgba(35, 35, 35, 0.9);